.animeCard {
  padding: 10px;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  cursor: pointer;

  .post {
    position: relative;
    overflow: hidden;
    border-right: solid 2px #fff0 !important;
    border-left: solid 2px #fff0 !important;
    border-radius: 10px;
    transition: 0.3s;

    img {
      transition: 0.3s;

      &:hover {
        position: absolute !important;
        padding: 8px !important;
        filter: brightness(60%) blur(2px) !important;
      }
    }

    &:hover {
      border-image: linear-gradient(to bottom, #d80404, rgba(0, 0, 0, 0)) 1 100% !important;
    }

    span {
      position: absolute;
      left: 0;
    }
  }

  .animeInfo {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    justify-content: space-between;

    .animeTitle {
      h4,
      span {
        color: var(--white);
        margin: 0;
      }

      h4 {
        width: 100%;
        margin: 5px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      span {
        border: solid 1px;
        padding: 2px 4px;
        border-radius: 2px;
        display: inline-block;
        margin: 5px 0;
        font-size: 0.7rem;
      }
    }
  }
}
